@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');

:root {
  --font: #24247e;
  --background: rgba(202, 231, 220, 0.95);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper{
  font-family: 'PT Sans', sans-serif;
  max-width: 1000px;
  width: 90%;
  margin: 50px auto;
  position: relative;
  color: var(--font);
}
.image-container{
  position: absolute;
  margin: 80px;
  z-index: -1;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  opacity: 0.1;
}
label{
  margin: 2px;
  font-size: 20px;
}
.wrapper h1{
  text-align: center;
  margin: 50px;
}
.wrapper .warning{
  color: #ff0000;
}
form.adder{
  margin: 10px auto;
  padding: 2px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
div.ing{
  margin: 3px;
}
input{
  margin: 0 5px;
  width: 60px;
  font-size: 20px;
  flex-grow: 1;
  border: 1px solid var(--font);
  border-radius: 4px;
  text-align: center;
  background: transparent;
  color: var(--font);
}
.container{
  margin: 30px auto;
  display: flex;
}
table{
  border-collapse: collapse; 
  width: 100%;
}
td, th{
  border: 1px solid rgba(233, 248, 242, 0.95);
  text-align: left;
  padding: 8px;
}
thead{
  font-size: larger;
  background-color: var(--background);
  color: #ffffff;
}
tr:nth-child(even) {
  background-color: var(--background);
}

@media screen and (max-width: 960px) {
  .image-container{
    padding-top: 10%;
    margin: 0;
  }
  .image-container img{
    width: calc(100% / 2);
  }
  .wrapper h1{
    margin: 0;
  }
}

@media screen and (max-width: 480px) {
  .image-container{
    padding-top: 15%;
    flex-wrap: wrap;
  }
  .image-container img{
    width: 70%;
  }
  .image-container img[alt="funnel"]{
    padding-right: 10%;
  }
  .image-container img[alt="flask"]{
    padding-left: 8%;
  }
}