@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
.wrapper{
  font-family: 'PT Sans', sans-serif;
  max-width: 1000px;
  width: 90%;
  margin: 50px auto;
}
label{
  margin: 2px;
  font-size: 20px;
}
.wrapper h1{
  color: #dddddd;
  text-align: center;
}
form.adder{
  margin: 10px auto;
  padding: 2px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
div.ing{
  margin: 3px;
}
input{
  margin: 0 5px;
  width: 60px;
  font-size: 20px;
  color: #797979;
  flex-grow: 1;
  border: 1px solid #797979;
  border-radius: 4px;
  text-align: center;
}
.container{
  margin: 30px auto;
  display: flex;
}
table{
  border-collapse: collapse; 
  width: 100%;
}
td, th{
  border: 1px solid #eeeded;
  text-align: left;
  padding: 8px;
}
thead{
  font-size: larger;
  background-color: #dddddd;
  color: #ffffff;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
